<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>
            InstaGrammar
        </title><!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



        <link href="styles.css" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg fixed-top ig-green navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#">InstaGrammar</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls=
                "navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#installation">Installation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#manual">Manual</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#try">Try!</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="ig-green" id="payoffApp">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <h1>
                            InstaGrammar
                        </h1>
                        <p>
                            {{ output }}
                        </p>
                        <a class="btn btn-success" href="#" role="button" aria-pressed="true" v-on:click="generate">Generate</a>
                        <a class="btn btn-success" href="#" role="button" aria-pressed="true" v-on:click="source">Source</a>

                        <pre v-if="showSource" class="small-fonts white-color">
{{ grammar }}</pre></div>
                </div>
            </div>
        </section>

        <section class="ig-light-gray">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xs-12">
                        <h2>What's this?</h2>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>
            				InstaGrammar is a Javascript library that generates a random sentence according to a <em>grammar</em>.
            			</p>
            			<p>
            				A <em>grammar</em> is a set of syntactic rules written in a very easy to read and understand language.
                            Read the <a class="link" href="#manual">documentation</a> to learn the syntax,
                            and use the box below to <a class="link" href="#try">try it</a> in your browser.
            			</p>
            			<p>
            				InstaGrammar has been inspired by <a class="link" href="http://www.polygen.org">Polygen</a>.
                        </p>
                        <p>
                            Drop me a line if you are interested: <a class="link" href="mailto:enrico.zeffiro@gmail.com">enrico.zeffiro@gmail.com</a>
                        </p>
				    </div>
                </div>
            </div>
        </section>

        <section class="ig-dark-gray">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xs-12">
                        <a name="installation"/>
                        <h2>Installation</h2>
                        <hr/>
                    </div>
                </div>
                <div class="row">
                        <div class="col-12">
                                <strong>Install using npm or yarn:</strong>
                                <pre>npm install instagrammar</pre>
                                or
                                <pre>yarn add instagrammar</pre>
        
                                <strong>Create an instance of a grammar and generate a sentence:</strong>
<pre><code>var instagrammar = require("instagrammar")

var grammar = "$start = Hello (World | Universe);"
var ig = new instagrammar.InstaGrammar(grammar);
var output = ig.generate();
</code></pre>
                        </div>
                </div>
            </div>
        </section>


<div id="manualApp">
        <section class="ig-green">
            <a class="anchor" name="manual"></a>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xs-12">
                        <h1>Manual</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="ig-light-gray">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xs-12">
                        <h2>Index</h2>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            <li>Basics
                            <ul>
                                <li><a class="link" href="#hello">Hello World</a></li>
                                <li><a class="link" href="#choices">Choices</a></li>
                                <li><a class="link" href="#parenthesis">Parenthesis</a></li>
                                <li><a class="link" href="#variables">Variables</a></li>
                                <li><a class="link" href="#recursion">Recursion</a></li>
                                <li><a class="link" href="#optional">Optional</a></li>
                                <li><a class="link" href="#shuffle">Shuffle</a></li>
                                <li><a class="link" href="#comments">Comments</a></li>
                            </ul>
                            </li>


                            <li>Advanced features
                            <ul>
                                <li><a class="link" href="#times">Times</a></li>
                                <li><a class="link" href="#strongbinding">Strong Binding</a></li>
                                <li><a class="link" href="#tagsfilters">Tags and Filters</a></li>
                                <li><a class="link" href="#filtersreset">Filters Reset</a></li>
                                <li><a class="link" href="#snap">Snap</a></li>
                                <li><a class="link" href="#empty">Empty</a></li>
                                <li><a class="link" href="#uppercase">Uppercase</a></li>
                            </ul>
                            </li>

                            
                            <li>Finetuning
                            <ul>
                                <li><a class="link" href="#localweight">Local Weight</a></li>
                                <li><a class="link" href="#unfolding-choice">Unfolding a choice</a></li>
                                <li><a class="link" href="#unfolding-variable">Unfolding a variable</a></li>
                                <li><a class="link" href="#unfolding-optional">Unfolding an optional node</a></li>
                                <li><a class="link" href="#unfolding-shuffle">Unfolding shuffle</a></li>
                            </ul>
                            </li>
                            <!--
                               
                            <li>Reference
                            <ul>
                                <li><a class="link" href="#preprocessor">Preprocessor</a></li>
                                <li><a class="link" href="#lexer">Lexer</a></li>
                                <li><a class="link" href="#parser">Parser</a></li>
                            </ul>
                            </li>
                        -->
                        </ul>

				    </div>
                </div>
            </div>
        </section>

        <section class="ig-green">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xs-12">
                        <h1>Basics</h1>
                    </div>
                </div>
            </div>
        </section>
        <ig-example source="hello"></ig-example>
        <ig-example source="choices"></ig-example>
        <ig-example source="parenthesis"></ig-example>
        <ig-example source="variables"></ig-example>
        <ig-example source="recursion"></ig-example>
        <ig-example source="optional"></ig-example>
        <ig-example source="shuffle"></ig-example>
        <ig-example source="comments"></ig-example>

        <section class="ig-green">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xs-12">
                        <h1>Advanced features</h1>
                    </div>
                </div>
            </div>
        </section>
        <ig-example source="times"></ig-example>
        <ig-example source="strongbinding"></ig-example>
        <ig-example source="tagsfilters"></ig-example>
        <ig-example source="filtersreset"></ig-example>
        <ig-example source="snap"></ig-example>
        <ig-example source="empty"></ig-example>
        <ig-example source="uppercase"></ig-example>

        <section class="ig-green">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xs-12">
                        <h1>Fine tuning</h1>
                    </div>
                </div>
            </div>
        </section>
        <ig-example source="localweight"></ig-example>
        <ig-example source="unfolding-choice"></ig-example>
        <ig-example source="unfolding-variable"></ig-example>
        <ig-example source="unfolding-optional"></ig-example>
        <ig-example source="unfolding-shuffle"></ig-example>





<!--
        <section class="ig-light-gray">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xs-12">
                        <h2>Local weight</h2>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            All choices have the same probability to be choosen.
            			</p>
                        <p>
                            You can use the keyword <code>*</code> with a <code>Number</code> after a text
                            (or, in generale, a node) to affect the probability.
                        </p>
                        <p>
                            In the example, "Hello Word" is a lot more likely to be generated than the other choices.
                        </p>
				    </div>
                    <div class="col-md-6">
                        <ig-example source="localweight"></ig-example>
				    </div>
                </div>
            </div>
        </section>






    -->


</div>


<section class="ig-green">
    <a class="anchor" name="try"></a>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12">
                <h1>Try</h1>
            </div>
        </div>
    </div>
</section>
<section class="ig-light-gray" id="tryApp">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="ig-try-container">
                    <div class="ig-try-grammar">
                        <pre><code><textarea v-model="grammar" rows="5"></textarea></code></pre>
                    </div>
                    <div class="ig-try-output">
                        <button type="button" class="btn btn-sm btn-success ig-try-btn" v-on:click="generate">try</button>
                        <button type="button" class="btn btn-sm btn-success ig-try-btn" v-on:click="debug">toggle debug panels</button>
                        <p>{{ result.output }}</p>
                    </div>                    
                </div>
                <div class="ig-try-error alert alert-danger" role="alert" v-if="error">
                        <strong>Oh shit! Something wrong in your grammar :(</strong>
                        <br/><br />
                        <pre><code>{{ error }}</code></pre>
                </div>
                <div class="ig-try-debug alert" v-if="showDebug">
                    <strong>Input text</strong>
                    <br/><br />
                    <pre><code>{{ result.input }}</code></pre>
                </div>
                <div class="ig-try-debug alert" v-if="showDebug">
                    <strong>Preprocessed input text</strong>
                    <br/><br />
                    <pre><code>{{ result.preProcessedInput }}</code></pre>
                </div>
                <div class="ig-try-debug alert" v-if="showDebug">
                    <strong>Output text</strong>
                    <br/><br />
                    <pre><code>{{ result.output }}</code></pre>
                </div>
                <div class="ig-try-debug alert" v-if="showDebug">
                    <strong>Syntax tree</strong>
                    <br/><br />
                    <pre><code>{{ result.ast }}</code></pre>
                </div>
                <div class="ig-try-debug alert" v-if="showDebug">
                    <strong>Bindings</strong>
                    <br/><br />
                    <pre><code>{{ result.bindings }}</code></pre>
                </div>
                <div class="ig-try-debug alert" v-if="showDebug">
                    <strong>Bindings after generate</strong>
                    <br/><br />
                    <pre><code>{{ result.bindingsAfterGenerate }}</code></pre>
                </div>
                <div class="ig-try-debug alert" v-if="showDebug">
                    <strong>Tokens</strong>
                    <br/><br />
                    <pre><code>{{ result.tokens }}</code></pre>
                </div>
                <div class="ig-try-debug alert" v-if="showDebug">
                    <strong>Weights</strong>
                    <br/><br />
                    <pre><code>{{ result.weights }}</code></pre>
                </div>
            </div>

        </div>
    </div>
</section>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue@2.7.16/dist/vue.js"></script>
        </script>
        <script src="instagrammar.js">
        </script>
        <script src="index.js">
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118744929-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118744929-1');
</script>

       
    </body>
</html>
