/*

grigio chiaro: #f1f1f1
colore testo: #222
grigio scuro: rgb(220, 220, 220)
verde xbox: #107c10

*/

body {
    background-color: #f1f1f1;
    color: #222;
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
}

h1  {
    font-weight: 700;
    letter-spacing: -0.15rem;
}

h2  {
    font-weight: 700;
    letter-spacing: -0.15rem;
}

h3 {
    font-weight: 400;
    letter-spacing: -0.15rem;
}

section {
    padding: 2rem 0 2rem 0;
}

.link, .link:visited {
    color: #107c10;
    font-weight: bold;
    text-decoration: underline;
}


.navbar-brand {
    font-weight: 700;
    letter-spacing: -0.05rem;
}

.ig-green {
    background-color: #107c10;
    color: white;
}

.ig-light-gray {
    background-color: #f1f1f1;
}

.ig-dark-gray {
    background-color: #ececec;
    /*background-color: #DCDCDC;*/
}

.small-fonts {
    font-size: 75%;
}

.white-color {
    color: white;
}

.anchor {
    display: block;
    position: relative;
    top: -5rem;
    visibility: hidden;
}

/* manual */

.ig-example-container {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.ig-example-grammar {
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: 90%;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
}

.ig-example-output {
    padding: 0rem 1.25rem 0.75rem;
}

.ig-example-btn {
    position: relative;
    top: -0.8rem;
}


/* try */

.ig-try-container {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.ig-try-grammar {
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: 90%;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
}

.ig-try-output {
    padding: 0rem 1.25rem 0.75rem;
}

.ig-try-btn {
    position: relative;
    top: -0.8rem;
}

.ig-try-error {
    margin-top: 1rem;
}

.ig-try-grammar textarea {
    width: 100%;
    color: #222;
    background-color: transparent;
    border-color: transparent;
}

.ig-try-debug {
    margin-top: 1rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}